/* * BASE LAYOUT
 * */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2d2640;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 2.8em;
  line-height: 1;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.8em;
  line-height: 3;
}

h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

p {
  line-height: 1.65;
}

.inner-wrap {
  max-width: 1110px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.logo svg path {
  fill: #2d2640;
}

button {
  padding: 11px 25px;
  border-radius: 0;
  border: 2px solid #2d2640;
  background: none;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #2d2640;
}

button.btn-reverse {
  border-color: white;
  color: white;
}

button.btn-smaller {
  padding: 12px 20px;
  font-size: 0.7em;
  font-weight: 400;
}

.site-header {
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.site-header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;
}

.header-nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
}

.header-nav ul li a {
  text-decoration: none;
  color: white;
}

.hero-section {
  background: #2d2640;
  position: relative;
}

.hero-section .hero-img {
  width: calc(100% + 40px);
  margin-left: -25px;
  max-height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.hero-section .hero-img picture,
.hero-section .hero-img picture img {
  width: 100%;
}

.hero-section .text {
  color: white;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.hero-section .text button {
  margin-top: 12px;
}

.hero-section .hero-img::before {
  background: url("../../assets/bg-pattern-intro-left-mobile.svg") no-repeat;
  background-position: top left;
  background-size: contain;
  content: "";
  height: 170px;
  width: 50%;
  position: absolute;
  top: 450px;
}

.hero-section .hero-img::after {
  background: url("../../assets/bg-pattern-intro-right-mobile.svg") no-repeat;
  background-position: center right;
  background-size: contain;
  content: "";
  height: 330px;
  width: 50%;
  position: absolute;
  right: 0;
  top: calc(450px + 340px);
}

.three-col-section {
  background: white;
  position: relative;
  padding-top: 100px;
}

.three-col-section .text {
  text-align: center;
}

.three-col-section .text p {
  color: #837d87;
}

.three-col-section .feature {
  margin-bottom: 60px;
}

.three-col-section h2::before {
  content: "";
  width: 150px;
  position: absolute;
  border-top: 1px solid #837d87;
  margin-left: 70px;
}

/* * RESPONSIVE CHANGES
 * */
@media screen and (min-width: 700px) {
  .site-header {
    padding: 20px 0;
  }

  nav ul {
    font-size: 0.8em;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-toggle {
    display: none;
  }

  .header-nav ul {
    font-size: 0.8em;
  }

  .header-nav ul li + li {
    margin-left: 30px;
  }

  .header-nav ul li a {
    color: #2d2640;
  }

  .hero-section {
    padding-top: 30px;
  }

  .hero-section .hero-img {
    float: right;
    width: 50%;
    max-height: none;
    padding-top: 20px;
    max-width: 500px;
  }

  .hero-section .text {
    width: 50%;
    padding-right: 20px;
    text-align: left;
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 24px;
  }

  .hero-section .text::before {
    content: "";
    width: 150px;
    position: absolute;
    border-top: 1px solid white;
  }

  .hero-section .hero-img::before {
    background: url("../../assets/bg-pattern-intro-left-desktop.svg") no-repeat;
    background-size: contain;
    background-position: left top;
    height: 300px;
    top: 330px;
    left: 0;
  }

  .hero-section .hero-img::after {
    background: url("../../assets/bg-pattern-intro-right-desktop.svg") no-repeat;
    background-size: contain;
    background-position: right top;
    height: 300px;
    top: 0;
  }
}
@media screen and (min-width: 800px) {
  .hero-section {
    padding-top: 50px;
  }

  .hero-section .text {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 900px) {
  .hero-section {
    padding-top: 85px;
  }

  .hero-section .text {
    padding-bottom: 125px;
  }

  h1 {
    font-size: 3.5em;
    line-height: 0.9;
  }

  .hero-section .hero-img::before {
    top: 470px;
  }
}
@media screen and (min-width: 1100px) {
  h1 {
    font-size: 4.5em;
    line-height: 0.9;
  }

  .hero-section .hero-img::before {
    top: 430px;
    height: 515px;
  }

  .hero-section .hero-img::after {
    height: 515px;
  }
}

/*# sourceMappingURL=styles.css.map */
